
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

/*Incorporar uma fonte no site*/
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

body {
   margin: 0;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   color: #333333;
   background-color: #dddddd;
}

.cabecalho {
   height: 90px;
   width: 100%;
   border-bottom: 1px solid #c0c0c0;
   background-color: white;
   /*permite posicionamento absoluto dos elementos internos*/
   position: relative;
}

   .cabecalho .logomarca {
      height: 90px;
      width: 90px;
      position: absolute;
      left: 0px;
      top: 0px;
   }

   .cabecalho .menu {
      height: 20px;
      position: absolute;
      right: 8px;
      bottom: 10px;
   }

      .cabecalho .menu a {
         color: black;
         font-size: 12px;
         margin-left: 3px;
         margin-right: 3px;
         text-decoration: none;
         text-transform: uppercase;
         padding: 4px; /*margem interna*/
         border: 1px solid transparent;
      }

         .cabecalho .menu a:hover {
            /*/*color:#0066cc;
            border-bottom:4px solid #0066cc;*/
            padding: 4px;
            border: 1px solid #c0c0c0;
            background-color: #dddddd;
         }

         .cabecalho .menu a:active {
            background-color: #c0c0c0;
         }

.conteudo {
   background-color: white;
   min-height: 1300px;
   padding-left: 60px;
   padding-top: 30px;
}

.rodape {
   height: 200px;
   color: #808080;
   padding: 14px;
   background-color: transparent;
}


/* CONTROLES DE FORMULÁRIO */

label {
   display: block;
   font-size: 11px;
   text-transform: uppercase;
   margin-top: 14px;
   font-weight: 600;
}

select, textarea, input[type="text"], input[type="password"] {
   font-size: 14px;
   padding: 8px;
   border: 1px solid #C0c0c0;
   border-radius: 5px;
}

input[type="radio"], input[type="chekbox"] {
   font-size: 14px;
   padding: 8px;
}

/* BOTAO */
input[type="submit"] {
   font-size: 14px;
   padding: 8px;
   border: 1px solid #C0c0c0;
   background-color: #e9e9e9;
   border-radius: 5px;
}

   input[type="submit"]:hover {
      font-size: 14px;
      padding: 8px;
      border: 1px solid #C0c0c0;
      background-color: #4799e9;
   }
