<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

   <system.web>
      <!-- define o formulario de autenticação para acessar a pasta adm -->
      <authentication mode="Forms">
         <forms name="WebSite" requireSSL="false" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx"></forms>
      </authentication>

      <compilation debug="true" targetFramework="4.5.2" />

     <customErrors mode="Off"></customErrors>
   
   </system.web>

   <!--Restringe o acesso a pasta adm-->
   <!--A propriedade deny nega o acesso de usuários não autenticados-->
   <location path="adm">
      <system.web>
         <authorization>
            <deny users="?"/>
         </authorization>
      </system.web>
   </location>

</configuration>
